<div class="container">


    <table class="table table-hover table-bordered mt-5">

        <thead>
            <tr class="table-secondary">
                <th scope="col" class="w-25 text-center">Property</th>
                <th scope="col" class="w-50 text-center">Value</th>
            </tr>
        </thead>

        <tbody>

            <tr>
                <td class="vertic-center"> <span> login </span> </td>
                <td class="vertic-center"> <span> {{ userInfo.login }} </span> </td>
            </tr>

            <tr>
              <td class="vertic-center"> <span> created_at </span> </td>
              <td class="vertic-center"> <span> {{ userInfo.created_at }} </span> </td>
            </tr>

            <tr>
              <td class="vertic-center"> <span> email </span> </td>
              <td class="vertic-center"> <span> {{ userInfo.email }} </span> </td>
            </tr>

            <tr>
              <td class="vertic-center"> <span> url </span> </td>
              <td class="vertic-center"> <span> {{ userInfo.url }} </span> </td>
            </tr>

            <tr>
              <td class="vertic-center"> <span> public_repos </span> </td>
              <td class="vertic-center"> <span> {{ userInfo.public_repos }} </span> </td>
            </tr>


        </tbody>

  </table>

</div>
